@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Seletores globais */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
}
h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

p {
  text-indent: 20px;
}

ul li {
  list-style: none;
}

span.span-blue {
  color: #4169e1;
}

input,
textarea,
input:focus,
textarea:focus {
  border: none;
  box-shadow: none;
  background: none;
  outline: none;
  overflow: hidden;
}
/* Fim Seletores Globais */

/* Conteúdo principal */
.container {
  min-width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Cabeçalho */
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  z-index: 1000;
}
.header p {
  display: flex;
  font-size: 14px;
  gap: 5px;
  text-align: center;
  align-items: center;
  text-indent: 0;
}
.header p img {
  width: 20px;
}
.header .nav {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.header .nav .list-items {
  display: flex;
  gap: 50px;
  margin: 0 auto;
}
.header a {
  text-decoration: none;
  color: #6d6d6d;
  transition: 0.2s;
}
.header a:hover {
  color: #fff;
  transform: scale(1.08);
}
.header .contact-button {
  padding: 10px 40px;
  border: 0;
  border-radius: 30px;
  box-shadow: 1px 1px 8px #4682b4;
  font-weight: bold;
  background: #4682b4;
  color: #fff;
  cursor: pointer;
  animation: pulse 2s infinite;
}
/* Fim Cabeçalho */

/* Começo da página Inicial */
.pagina-principal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 150px 0;
}

.pagina-principal h1 {
  text-align: start;
  padding-bottom: 20px;
  font-weight: 700;
}

.pagina-principal h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.pagina-principal .cv {
  margin-top: 20px;
  border-style: none;
  padding: 15px 50px;
  border: 0;
  border-radius: 30px;
  font-weight: bold;
  background: #00bfff;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1rem;
}

.pagina-principal .cv:hover {
  transform: scale(1.05);
}

.pagina-principal .gif-coding {
  margin-left: 100px;
  animation: float 2s ease-in-out infinite;
}

/* Fim da página inicial */

/* Começo das Tecnologias */
.tecnologias {
  padding: 120px 0;
}

.tecnologias h1 {
  margin-bottom: 30px;
}

.tecnologias .tecnologias-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tecnologias h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}

.techs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
  border-radius: 10px;
  margin-bottom: 100px;
}

.techs img {
  position: relative;
  display: inline-block;
  max-width: 80px;
  transition: 0.5s;
  border-radius: 10px;
}

.techs img:hover {
  transform: scale(1.09);
  filter: drop-shadow(0px 0px 3px #87cefa); /* Sombra azul ao passar o mouse */
}

.techs h3 {
  text-align: center;
  font-weight: 200;
}
/* Fim Tecnologias */

/* Começo Portfolio */
.portfolio {
  padding: 120px 0;
}

.portfolio h1 {
  margin-bottom: 80px;
}

.container-projects {
  display: flex;
  flex-direction: column;
}

.container-projects .projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.explaining-project {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.reverse {
  flex-direction: row-reverse; /* Inverte a ordem dos elementos no projeto */
}

.projects .explaining-project h2 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.projects .explaining-project p {
  font-weight: 200;
  margin-bottom: 20px;
  text-align: justify;
  padding: 0 20px;
}

.projects .img-hover {
  width: 500px;
  height: 500px;
  position: relative;
}

.img-hover .img-project {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10px;
  transition: filter 0.3s ease;
}

.plus-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1e90ff;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  display: none;
}
/* Fim Portfolio */

/* Sessão Sobre mim */
.sobre {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 100px 50px;
}

.sobre > img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 100%;
  margin-right: 2rem;
  box-shadow: 0 0 10px 5px #4169e1;
  animation: gif-float 4s ease-in-out infinite;
}

.sobre .my-info {
  color: #000;
  text-align: justify;
  word-wrap: break-word;
}

.my-info > h1 {
  letter-spacing: -2px;
  margin-bottom: 30px;
}

.my-info > p {
  word-wrap: break-word;
}

.my-info a > img {
  margin-top: 30px;
  margin-right: 10px;
  width: 64px;
}

.my-info a > img:hover {
  animation: 1s ease-in-out 0s normal none infinite running pulse;
}

/* Fim Sobre */

/* Contato */
.contato {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background-color: #ffffff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 2px 1px #4169e1;
  backdrop-filter: blur(10px);
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.contato h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.contato > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contato .form-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 1px solid transparent;
  font-size: 1rem;
  max-width: 80%;
  height: 100%;
  padding: 20px;
}

.contato .form-contato input,
textarea {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #000;
  border-bottom: 1px solid rgb(77, 77, 77);
}

.contato .form-contato input:hover,
textarea:hover {
  transform: scale(1.05);
}

.contato .gif-modal {
  margin-top: -50px;
}

.contato .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
  color: #4169e1;
  border: none;
  background: none;
}

.contato .btn-close:hover {
  color: #4169e1;
  scale: 1.2;
}

.contato .submit-btn {
  max-width: 300px;
  padding: 20px 40px;
  font-size: 1.5rem;
  background-color: #4169e1;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}
.contato .submit-btn:hover {
  background-color: #17254d;
  transform: scale(1.05);
}
/* Animações e efeitos */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animate-flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
